{% load static %}
{% url 'timeline' as timeline_page %}
{% url 'scoreboard' as scoreboard_page %}
{% url 'report' as report_page %}
{% url 'contact' as contact_page %}
<!DOCTYPE html>
<html>
<head>

	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<!-- Include the jQuery library -->
	<script src="{% static 'kimball/js/jquery-1.11.3.min.js' %}"></script>
	
	<!-- Include the jQuery Mobile library -->
	<script src="{% static 'kimball/js/jquery.mobile-1.4.5.min.js' %}"></script>

	<!-- Include jQuery Mobile stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'kimball/css/jquery.mobile-1.4.5.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'kimball/css/style.css' %}" />

	{% block head %}{% endblock %}

	<title>Kimball</title>

</head>
<body>
	<div data-role="page">

	  <div data-role="header">
		<a href="{% url 'index' %}" data-icon="home" class="ui-btn-left">Início</a>
	  	<h1>Kimball</h1>
	  	{% if user.is_authenticated %}
	  	<a href="{% url 'logout' %}" data-icon="power" class="ui-btn-right">Sair</a>
		{% else %}
		<a href="{% url 'login' %}" data-icon="lock" class="ui-btn-right">Entrar</a>
	    {% endif %}
	  </div>

	  <div data-role="main" class="ui-content">
	  	{% block content %}{% endblock %}
	  </div>

	  <div data-role="footer" data-position="fixed">
 		<nav data-role="navbar">
			<ul>
				<li>
					<a href="{{ timeline_page }}" data-icon="bars"{% if request.path == timeline_page %} class="ui-btn-active"{% endif %}>Timeline</a>
				</li><li>
					<a href="{{ scoreboard_page }}" data-icon="bars"{% if request.path == scoreboard_page %} class="ui-btn-active"{% endif %}>Scoreboard</a>
				</li><li>
					<a href="{{ report_page }}" data-icon="bars"{% if request.path == report_page %} class="ui-btn-active"{% endif %}>Report</a>
				</li>
				<li><a href="{{ contact_page }}" data-icon="bars">Contatos</a></li>
			</ul>
		</nav>
	  	<h4>Junta de Núcleo de Guimarães</h4>
	  </div>

	</div>

</body>
{% block scripts %}{% endblock %}
</html>