{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<!-- Include the jQuery library -->
	<script src="{% static 'kimball/js/jquery-1.11.3.min.js' %}"></script>
	
	<!-- Include the jQuery Mobile library -->
	<script src="{% static 'kimball/js/jquery.mobile-1.4.5.min.js' %}"></script>

	<!-- Include jQuery Mobile stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'kimball/css/jquery.mobile-1.4.5.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'kimball/css/style.css' %}" />

	<title>Kimball</title>

</head>
<body>
	<div data-role="page">

	  <div data-role="header">
		<a href="./" data-icon="home" class="ui-btn-left ui-btn-active">Início</a>
	  	<h1>Kimball</h1>
	  	<a href="#" data-icon="power" class="ui-btn-right">Sair</a>
		<a href="#" data-icon="lock" class="ui-btn-right">Entrar</a>
	    <nav data-role="navbar">
			<ul>
				<li><a href="#" data-icon="bars" class="ui-btn-active">Menu 1</a></li>
				<li><a href="#" data-icon="camera">Menu 2</a></li>
			</ul>
		</nav>
	  </div>

	  <div data-role="main" class="ui-content">
	    <h1>Benvindo ao Kimball</h1>
	    <img src="{% static 'kimball/images/avatar.jpg' %}" alt="Kimball" width="50%">
	  </div>

	  <div data-role="footer">
 		<nav data-role="navbar">
			<ul>
				<li><a href="#">Contatos</a></li>
			</ul>
		</nav>
	  	<h4>Junta de Núcleo de Guimarães</h4>
	  </div>

	</div>

</body>
</html>