{% extends "kimball/layout.html" %}

{% block content %}

<div data-role="collapsibleset" data-content-theme="a" data-iconpos="right" id="set">
    <div data-role="collapsible" id="set1" data-collapsed="true">
        <h3>Alterar checkpoint</h3>
        <form name="form_checkpoints" method="post" action="{% url 'report' %}" onChange="form.submit();">
			{% csrf_token %}
			{% if stations %}
		    <select name="station_id" id="select_station">
				<option value="None">Seleccione o posto</option>
			{% for staff_station in stations %}
		        <option value="{{ staff_station.id }}" {% if station == staff_station %} selected="seleted" {% endif %}>{{ staff_station.name }}</option>
				{% endfor %}
			</select>
			{% else %}
			<p>Sem postos atribuídos!</p>
			{% endif %}
		    <select name="checkin_code" id="select_checkpoint">
			{% if checkpoints %}
			{% for checkpoint_item in checkpoints %}
		        <option value="{{ checkpoint_item.checkin_code }}" {% if checkpoint.checkin_code == checkpoint_item.checkin_code %} selected{% endif %}>{{ checkpoint_item.patrol }}</option>
			{% endfor %}
			{% else %}
				<option value="#" disabled selected>Sem chekpoints feitos nos posto seleccionado!</option>
			{% endif %}
			</select>
		</form>
    </div>
</div>

<h2>Report</h2>
 Station: {{station}} - Equipa {{checkpoint.patrol}}

{% if teampoints %}
<h2>Team Points</h2>
<form method="post" action="{% url 'report' %}">
	{% csrf_token %}
	{{teampoints}}
	<input class="btn" type="submit" name="submit" value="Save">
</form>

{% endif %}

{% if checkpoint %}
<a href="{% url 'checkout' checkpoint.id %}">Checkout</a>
{% endif %}

<script>
$(function(){
	$('#select_station').change(function(){
		this.form.submit();
	});
	$('#select_checkpoint').change(function(){
		this.form.submit();
	});
});
</script>

{% endblock content %}