{% extends "kimball/layout.html" %}

{% block content %}
<h1>Classificação</h1>

{% if board %}
<table>
    <tr>
        <th>Posição</th>
        <th>Equipa</th>
        <th>Pontuação</th>
    </tr>
    {% for item in board %}
    <tr> 
        <td>{{ item.id }}</td>
        <td>{{ item.team }}</td>
        <td>{{ item.points }}</td>
    </tr>
    {% endfor %}
</table>
<p>As pontuações são atualizadas em cada checkout das equipas nos postos, pelo que podem ser provisórias.</p>
{% else %}
<p>Sem pontuações ainda...</p>
{% endif %}
{% endblock content %}